<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign up</title>
    <link href="/stylesheets/register.css" rel="stylesheet">

    <!-- Jquery -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>

    <script src="/javascripts/register.js" defer></script>
</head>

<body>
    <div class="form">
        <p class="form-title">Register a new account</p>
        <label for="deviceId">Device ID</label>
        <input type="text" id="deviceId">

        <label for="email">Email</label>
        <input type="email" id="email">

        <label for="password">Password</label>
        <input type="password" id="password">


        <label for="passwordConfirm">Confirm Password</label>
        <input type="password" id="passwordConfirm">

        <div id="formErrors"></div>
        <div id="register-success-msg"></div>

        <input type="submit" id="submit" value="Sign up">
        <p id="already-registered">Already registered? <a href="/users/login">Log in</a></p>
    </div>
</body>

</html>