<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />

    <!-- Jquery -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>

    <!-- Materialize.css CDN -->
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" />

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

    <!-- Material Design Icons -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />

    <!-- Local CSS -->
    <link href="/stylesheets/home.css" rel="stylesheet" />
    <link href="/stylesheets/updateAccount.css" rel="stylesheet" />

    <!-- Local Javascript -->
    <script src="/javascripts/updateAccount.js" defer></script>
    <title>Account Information</title>
</head>

<body>
    <header class="main-header">
        <div class="navbar-fixed">
            <!-- Dropdown Structure -->
            <ul id="dropdown1" class="dropdown-content">
                <li><a id="update-account" href="/users/update">Update Account Information</a></li>
                <li class="divider"></li>
                <li><a class="logout-btn" href="#">Logout</a></li>
            </ul>
            <nav>
                <div class="nav-wrapper ">
                    <a href="#!" class="brand-logo">SunRunr</a>
                    <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
                    <ul class="right hide-on-med-and-down">
                        <li>
                            <a id="welcome-username-btn" href="/home">Welcome @username</a>
                        </li>
                        <!-- Dropdown Trigger -->
                        <li>
                            <a class="dropdown-trigger" href="#!" data-target="dropdown1">Settings<i
                                    class="material-icons right">arrow_drop_down</i></a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
        <ul class="sidenav" id="mobile-demo">
            <li>
                <a class="left-panel-link" href="/home"><i class="material-icons home-icon">home</i> Home
                </a>
            </li>
            <li>
                <a class="left-panel-link" href="/users/update"><i
                        class="material-icons account-info-icon">account_circle</i> Account Settings
                </a>
            </li>
            <li>
                <a class="left-panel-link" href="/users/activities-summary"><i
                        class="material-icons home-icon">directions_run</i> Activities
                    Summary
                </a>
            </li>
            <li>
                <a class="left-panel-link" href="/users/weather-forecast"><i
                        class="material-icons home-icon">cloud_queue</i>
                    Weather
                    Forecast
                </a>
            </li>

            <li>
                <a class="left-panel-link" href="/users/weekly-summary"><i
                        class="material-icons home-icon">pie_chart_outlined</i> Weekly
                    Summary
                </a>
            </li>
            <li>
                <a class="logout-btn" href="#"><i class="material-icons home-icon">arrow_back</i>Logout</a>
            </li>
        </ul>
    </header>

    <main>
        <div class="row">
            <div class="col s3 left-panel hide-on-med-and-down">
                <i class="material-icons home-icon sun app_icon">brightness_4</i>
                <a class="left-panel-link" href="/home"><i class="material-icons home-icon">home</i> Home
                </a>
                <a class="left-panel-link" href="/users/activities-summary"><i
                        class="material-icons home-icon">directions_run</i> Activities
                    Summary
                </a>
                <a class="left-panel-link" href="/users/weather-forecast"><i
                        class="material-icons home-icon">cloud_queue</i>
                    Weather
                    Forecast
                </a>

                <a class="left-panel-link" href="/users/weekly-summary"><i
                        class="material-icons home-icon">pie_chart_outlined</i> Weekly
                    Summary
                </a>
            </div>
            <div class="col l8 m12 s12 right-panel">
                <ul id="account-info-collection" class="collection with-header">
                    <li class="collection-header">
                        <h4>Account Settings</h4>
                    </li>
                    <li class="collection-item">
                        <div class="wrapper-div">Email<span
                                class="account-info-span info-update-displayed-email">emanuelinacio@email.arizona.edu</span><a
                                href="#!" class="secondary-content"><i class="material-icons">send</i></a></div>

                    </li>
                    <li class="collection-item">
                        <div class="wrapper-div">Password<span class="account-info-span">Change
                                Password</span><a href="#!" class="secondary-content"><i
                                    class="material-icons">send</i></a></div>
                    </li>
                    <li class="collection-item">
                        <div class="wrapper-div">Add a Device<span class="account-info-span">New
                                Device</span><a href="#!" class="secondary-content"><i
                                    class="material-icons">send</i></a></div>
                    </li>
                    <li class="collection-item collection-item-replace-device">
                        <div class="wrapper-div">Replace a Device<span class="account-info-span">Select
                                Divice</span><a href="#!" class="secondary-content"><i
                                    class="material-icons">send</i></a></div>
                    </li>
                    <li class="collection-item collection-item-set-uv-threshold">
                        <div class="wrapper-div">Ultraviolet Threshold<span class="account-info-span ultraviolet">Set
                                Threshold</span><a href="#!" class="secondary-content"><i
                                    class="material-icons">send</i></a></div>
                    </li>
                    <li class="collection-item">

                    </li>
                </ul>

                <!-- These are the forms that are shown when user selects one of the option in the account settings -->

                <div class="info-update-container email-form">
                    <div class="row">
                        <div class="input-field col s12">
                            <input id="email" type="email" class="validate">
                            <label for="email" class="active">Enter New Email</label>
                        </div>
                    </div>

                    <p class="input-errors input-errors-email"></p>

                    <button class="btn waves-effect waves-light info-update-submit-btn email" type="submit"
                        name="action">Save
                        Changes</button>
                    <a class="waves-effect waves-light btn-small info-update-cancel-btn">Cancel</a>
                </div>

                <div class="info-update-container password-form">
                    <div class="row">
                        <div class="input-field col s12">
                            <input id="password" type="password" class="validate">
                            <label for="password" class="active">Enter New Password</label>
                        </div>
                    </div>

                    <p class="input-errors input-errors-password"></p>

                    <button class="btn waves-effect waves-light info-update-submit-btn password" type="submit"
                        name="action">Save
                        Changes</button>
                    <a class="waves-effect waves-light btn-small info-update-cancel-btn">Cancel</a>
                </div>

                <div class="info-update-container add-device-form">
                    <div class="row">
                        <div class="input-field col s12">
                            <input id="add-device" type="text" class="validate">
                            <label for="add-device" class="active">Enter Device Number</label>
                        </div>
                    </div>

                    <p class="input-errors input-errors-add-device"></p>

                    <button class="btn waves-effect waves-light info-update-submit-btn add-device" type="submit"
                        name="action">Add
                        Device</button>
                    <a class="waves-effect waves-light btn-small info-update-cancel-btn">Cancel</a>
                </div>

                <div class="info-update-container replace-device-with-new">
                    <h6 class="replace-device-title">Replace Device</h6>
                    <div class="row">
                        <div class="input-field col s12">
                            <select class="old-device-select"></select>
                            <label>Choose the Device to Replace</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <input id="replace-device" type="text" class="validate">
                            <label for="replace-device" class="active">New Device</label>
                        </div>
                    </div>

                    <p class="input-errors input-errors-add-device"></p>

                    <button class="btn waves-effect waves-light info-update-submit-btn replace-device" type="submit"
                        name="action">Replace
                        Device</button>
                    <a class="waves-effect waves-light btn-small info-update-cancel-btn">Cancel</a>
                </div>

                <div class="info-update-container set-ultraviolet-threshold">
                    <div class="row">
                        <div class="input-field col s12">
                            <input id="uv-threshold" type="text" class="validate">
                            <label for="uv-threshold" class="active">Enter uv threshold</label>
                        </div>
                    </div>

                    <p class="input-errors input-errors-add-device"></p>

                    <button class="btn waves-effect waves-light info-update-submit-btn uv-threshold" type="submit"
                        name="action">Set Threshold</button>
                    <a class="waves-effect waves-light btn-small info-update-cancel-btn">Cancel</a>
                </div>

                <!-- This are the confirmation dialog boxes that are shown on information succesfull update -->

                <div class="new-password-update">
                    <p id="saved-password-state">Password changed successfully!</p>
                    <p>Logout of all devices?</p>

                    <button class="btn waves-effect waves-light info-update-submit-btn log-me-out-btn" type="submit"
                        name="action">Log me out</button>
                    <a class="waves-effect waves-light btn-small keep-me-signed-in-btn">Keep me signed in</a>
                </div>

                <div class="add-new-device-update">
                    <p>New Device Added successfully</p>
                </div>

            </div>
        </div>
    </main>
</body>

</html>