body {
  background-color: #f0f4c3;
}

nav {
  background: #f1c40f;
  padding-right: 4rem;
}

#dropdown1 {
  width: 15rem !important;
  padding: 0.4rem;
}

#dropdown1 a {
  font-size: 0.8rem !important;
}

a {
  color: #222 !important;
}

.brand-logo {
  margin-left: 2rem;
}

main {
  padding: 2rem;
}

.left-panel {
  box-shadow: 0.01rem 0.01rem 0.2rem 0rem #999;
  padding: 2rem !important;
}

.left-panel .app_icon {
  background: #f1c40f;
}

i {
  vertical-align: middle;
  margin-right: 0.8rem;
}

.home-icon {
  font-size: 2rem;
}

.left-panel-link {
  font-size: 1.2rem;
  font-weight: bold;
  padding: 1rem;
}

.sun {
  font-size: 10rem;
  margin-bottom: 2rem;
  text-align: center;
}

.left-panel a {
  display: block;
}

.left-panel a:hover {
  background: #ecf39f;
}

#welcome-username-btn {
  color: #000 !important;
  font-weight: bold;
}

.right-panel {
  box-shadow: 0.05rem 0.05rem 0.1rem 0rem #999;
  padding: 1rem !important;
  margin-left: 2rem !important;
  padding: 2px;
  height: 73vh;
  border: 1px solid #ccc;
}

.sidenav {
  padding-top: 2rem;
}
