body {
  background-color: #f0f4c3;
}

nav {
  background: #f1c40f;
}

a {
  color: #222 !important;
}

.brand-logo {
  margin-left: 2rem;
}

main {
  padding: 2rem;
}

.left-panel {
  background: #f1c40f;
  padding: 2rem !important;
}

i {
  vertical-align: middle;
  margin-right: 0.8rem;
}

.home-icon {
  font-size: 2rem;
}

.left-panel-link {
  font-size: 1.2rem;
  font-weight: bold;
  padding: 1rem;
}

.sun {
  font-size: 10rem;
  margin-bottom: 2rem;
  text-align: center;
}

.left-panel a {
  display: block;
}

.left-panel a:hover {
  background: #dab10d;
}

#welcome-username-btn {
  color: #000 !important;
  font-weight: bold;
}

.right-panel {
  background: #f1c40f;
  padding: 1rem !important;
  margin-left: 2rem !important;
  padding: 2px;
  height: 83vh;
}

.sidenav {
  padding-top: 2rem;
}
