* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: #222;
}

.form {
  width: 30rem;
  background: #f1c40f;
  padding: 20px 20px 50px 20px;
  margin: 6% auto;
}

.form-title {
  font-weight: bold;
  margin-bottom: 0;
  font-size: 14pt;
  margin-top: 0.4em;
}

#formErrors {
  display: none;
}

.errors {
  color: #d35400;
}

input[type="text"],
input[type="email"],
input[type="password"] {
  border: none;
  display: block;
  width: 100%;
  padding: 10px;
  font-size: 16px;
  margin-bottom: 10px;
  border-bottom: 4px solid #888;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus {
  outline: none;
  border-bottom: 4px solid #00c853;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

input[type="submit"] {
  margin-top: 16px;
  width: 100%;
  height: 40px;
  -webkit-appearance: none;
  background-color: #d35400;
  border: none;
  color: #fff;
  font-size: 13pt;
}

label {
  display: inline-block;
  font-size: 9.5pt;
  margin-top: 16px;
  background: #fff;
  width: 100%;
  padding: 5px;
  color: #444;
  font-weight: bold;
}

#already-registered {
  font-size: 10pt;
}

#already-registered a {
  color: #d35400;
  font-weight: bold;
  text-decoration: none;
  font-size: 12pt;
}

#already-registered a:hover {
  color: #ff5400;
  font-weight: bold;
}

#register-success-msg p {
  color: #000;
  font-size: 0.8rem;
  margin: 1rem 0;
  color: green;
  font-weight: bold;
}
